extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	dbal: Nettrine\DBAL\DI\DbalExtension
	dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
	orm: Nettrine\ORM\DI\OrmExtension
	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
	orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	orm.cache: Nettrine\Cache\DI\CacheExtension

dbal:
	debug:
		panel: %debugMode%
	connection:
		host: %database.host%
		user: %database.user%
		password: %database.password%
		dbname: %database.dbname%
		driver: pdo_mysql

orm.annotations:
	mapping:
		App\Model\Database: %appDir%/Model/Database