{layout "../admin.latte"}

{block content}

<ul class="breadcrumbs">
   <li>
        <h1 class="h2" n:block=title>Značky</h1>
   </li>
</ul>

<div class="p2">
    <form action="{plink :collection}" method="post">
        <button type="submit" class="btn"><span class="material-icons">add</span> Vytvořit</button>
    </form>
    <table class="striped highlight">
        <thead>
            <tr>
                <th>
                    Název
                    {include tableColumnOrder, column: 'name'}
                </th>
                <th>
                    Cena
                    {include tableColumnOrder, column: 'price'}
                </th>
                <th>
                    Značka
                </th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {foreach $results as $resource}
                <tr>
                    <td>
                        {$resource->getName()}
                    </td>
                    <td>
                        {$resource->getPrice()}
                    </td>
                    <td>
                        <a class="font-bold" href="{plink Brand:resource $resource->getBrand()->getId()}">
                            {$resource->getBrand()->getName()}
                        </a>
                    </td>
                    <td>
                        <div class="flex">
                            <a n:href=":resource $resource->getId()"class="btn mr1">Upravit</a>

                            <form action="{plink :resource $resource->getId()}" method="post">
                                <input type="hidden" name="method" value="DELETE" />
                                <button type="submit" class="btn red">Smazat</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {/foreach}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    {include paginator}
                </td>
            </tr>
        </tfoot>
    </table>
</div>

{/block}