{layout "../admin.latte"}

{block content}

    <ul class="breadcrumbs">
        <li>
            <h1 class="h2" n:block=title>Přehled</h1>
        </li>
    </ul>

    <div class="p2">
        <div class="row">
            <div class="col s12 m12 l6">
                <div class="card">
                    <h2 class="h2 p2 text-center red">Značky</h2>
                    <div class="font-4 text-center p3">
                        {$counts['brand']}
                    </div>
                    <div class="p2 flex">
                        <a href="{plink Brand:collection}" class="btn mr1"><span class="material-icons">menu</span> Vypsat</a>
                        <form action="{plink Brand:collection}" method="post">
                            <button type="submit" class="btn green"><span class="material-icons">add</span> Vytvořit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <div class="card">
                    <h2 class="h2 p2 text-center light-blue">Produkty</h2>
                    <div class="font-4 text-center p3">
                        {$counts['product']}
                    </div>
                    <div class="p2 flex">
                        <a href="{plink Product:collection}" class="btn mr1"><span class="material-icons">menu</span> Vypsat</a>
                        <form action="{plink Product:collection}" method="post">
                            <button type="submit" class="btn green"><span class="material-icons">add</span> Vytvořit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{/block}