{layout "../admin.latte"}

{block content}

    <ul class="breadcrumbs">
        <li>
            <h1 class="h2" n:block=title>Značky</h1>
        </li>
        <li>
            <span class="material-icons">chevron_right</span>
        </li>
        <li>
            <span class="h2">{$resource->getName()}</span>
        </li>
    </ul>

    <div class="p2">
        <h2 class="h2 mb2">{$resource->getName()}</h2>

        <div class="flex">
            <form action="{plink :resource $resource->getId()}" method="post">
                <button type="submit" class="btn mr1">Upravit</button>
            </form>

            <form action="{plink Brand:resource $resource->getId()}" method="post">
                <input type="hidden" name="method" value="DELETE" />
                <button type="submit" class="btn red mr1">Smazat</button>
            </form>

            <a n:href=":collection" class="btn grey">Zpět na seznam</a>
        </div>
    </div>
{/block}