<ul class="menu">
    <li>
        <a href="{plink Dashboard:dashboard}">
            <span class="material-icons">dashboard</span>
            <span class="label">Přehled</span>
        </a>
    </li>
    <li>
        <a href="{plink Brand:collection}">
            <span class="material-icons">book</span>
            <span class="label">Značky</span>
        </a>
    </li>
    <li>
        <a href="{plink Product:collection}">
            <span class="material-icons">sell</span>
            <span class="label">Produkty</span>
        </a>
    </li>
</ul>
